/*Основные стили*/
body, html{    
    background: #062134;
    margin:10px 0 0 0;
    padding:0px;
    font-family: Tahoma;
    font-size:12px;
    color:#000;
}

p{
    padding:0;
    margin:0;
    margin-bottom:10px;
}

a{
    color: #fff;
    text-decoration:none;
}

a:hover{
    color: #ebf316;
}

img{
    border:none;
}



/*Меню*/
#menu{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    text-shadow: 0px 1px 0px #000;
    padding:10px 0 10px 0;
}

#menu div{
    float:left;
    display:block;
}

#menu a{
    margin:0 15px;
}

.menu-active{
    color: #ebf316!important;
}

.menu-active2{
    color: #000!important;
}

.menu{
    width:577px;
}

/*Шапка*/
#header{
    padding:20px 0 20px 20px;
    background: #fff;
	
}

/*Контент*/
#content{
    background: #fff;
}

#bottom-menu{
    width:980px;
    display: table-cell;
    vertical-align: middle;
    background: #daedff;
    height:40px;
}

#bottom-menu a{
    color: #39729b;
    margin:0 10px;
}

#bottom-menu a:hover{
    color: #000;
}

/*Языки*/
#lang{
    position: fixed;
    top:5px;
    left:50px;
}

#lang input{
    background: none;
    color: #fff;
    cursor: pointer;
    border:1px solid #ccc;
    width:40px;
    margin:3px 0;
}

#lang input:hover{
    color: #ebf316;
    border:1px solid #ebf316;
}

.lang-active{
    color: #ebf316!important;
    border:1px solid #ebf316!important;
}


.lk {
    color:#fff;
}
.lk a{
    color:#ebf316;
}
.lk a:hover{
    text-decoration:underline;
}
/*Очистка*/
.clear{
    padding-top:10px;
    clear: both;
}


/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

table.calendar    { border-left:1px solid #999; }
tr.calendar-row  {  }
td.calendar-day  { min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#eceff5; }
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number    { background:#062134; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

th.ui-datepicker-week-end, td.ui-datepicker-week-end 
{
	display: none;
}